{% extends "file.html" %} {% block content %}
<!--===== HERO AREA STARTS =======-->
<div class="inner-header-section-area" style="background-image: url({{ url_for('static', filename='assets/img/all-images/bg/bg9.png') }}); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <img src="{{ url_for('static', filename='assets/img/elements/elements28.png') }}" alt="" class="elements28">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hero-header">
          <h1 class="text-anime-style-1">404</h1>
          <div class="space28"></div>
          <a href="index.html" class="bradecrumb">Home <i class="fa-solid fa-angle-right"></i> 404 Error</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== 404 AREA STARTS =======-->
<div class="error-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="images-content-area">
                    <div class="img1">
                        <img src="{{ url_for('static', filename='assets/img/all-images/others/others-img11.png') }}" alt="">
                    </div>
                    <div class="space60"></div>
                    <div class="heading4 text-center">
                        <h2>Sorry, Something Went Wrong !</h2>
                        <div class="space18"></div>
                        <p>But don't worry, we've got your back. Here are a few options to get you <br class="d-lg-block d-none"> back on track: Contact Support: If you believe a problem with our site.</p>
                        <div class="space32"></div>
                        <div class="btn-area1">
                            <a href="{{ url_for('home') }}" class="vl-btn4">Back To Home <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0.25C5.06294 0.25 0.25 5.06294 0.25 11C0.25 16.9371 5.06294 21.75 11 21.75C16.9371 21.75 21.75 16.9371 21.75 11C21.75 5.06294 16.9371 0.25 11 0.25ZM10 7C9.5955 7 9.2309 7.24364 9.0761 7.61732C8.92134 7.99099 9.0069 8.42111 9.2929 8.70711L10.5858 10L7.29289 13.2929C6.90237 13.6834 6.90237 14.3166 7.29289 14.7071C7.68342 15.0976 8.31658 15.0976 8.70711 14.7071L12 11.4142L13.2929 12.7071C13.5789 12.9931 14.009 13.0787 14.3827 12.9239C14.7564 12.7691 15 12.4045 15 12V8C15 7.44772 14.5523 7 14 7H10Z" fill="white"/>
                            </svg></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== 404 AREA ENDS =======-->

<!--===== CTA AREA ENDS =======-->
{% endblock %}
